.explore-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-homepage {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: #16171c;
}
.explore-group30 {
  top: 381px;
  left: 134px;
  width: 86px;
  height: 33px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-folder {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.explore-edit {
  top: 3px;
  left: 56px;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.explore-group41 {
  top: 381px;
  left: 406px;
  width: 86px;
  height: 33px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-folder1 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.explore-edit1 {
  top: 3px;
  left: 56px;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.explore-group2248 {
  top: 803px;
  left: 403px;
  width: 86px;
  height: 33px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-folder2 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.explore-edit2 {
  top: 3px;
  left: 56px;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.explore-rectangle6 {
  top: 152px;
  left: 286px;
  width: 703px;
  height: 397px;
  position: absolute;
  border-color: rgba(158, 0, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.explore-rectangle1057 {
  top: 574px;
  left: 283px;
  width: 703px;
  height: 397px;
  position: absolute;
  border-color: rgba(158, 0, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.explore-text {
  top: 197px;
  left: 520px;
  color: rgba(255, 255, 255, 1);
  width: 18px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.explore-text02 {
  top: 600px;
  left: 523px;
  color: rgba(255, 255, 255, 1);
  width: 18px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.explore-text04 {
  top: 190px;
  left: 400px;
  color: rgba(222, 214, 1, 1);
  width: 262px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.explore-text06 {
  top: 593px;
  left: 403px;
  color: rgba(222, 214, 1, 1);
  width: 262px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.explore-text08 {
  top: 236px;
  left: 400px;
  color: rgba(194, 207, 217, 1);
  width: 488px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.explore-text10 {
  top: 195px;
  left: 553px;
  color: rgba(194, 207, 217, 1);
  width: 67px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.explore-text12 {
  top: 598px;
  left: 556px;
  color: rgba(194, 207, 217, 1);
  width: 67px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.explore-text14 {
  top: 637px;
  left: 403px;
  color: rgba(194, 207, 217, 1);
  width: 488px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.explore-rectangle1055 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 76px;
  position: absolute;
  border-color: transparent;
}
.explore-frame4781824alarmalertattentionbellclockicon1 {
  top: 24px;
  left: 1316px;
  width: 30px;
  height: 33px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.explore-layer2 {
  top: 3.09375px;
  left: 3.749997854232788px;
  width: 22.500112533569336px;
  height: 26.8125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-vector {
  top: 21.65625px;
  left: 7.500001907348633px;
  width: 7px;
  height: 5px;
  position: absolute;
}
.explore-vector1 {
  top: 0px;
  left: 8.437501907348633px;
  width: 6px;
  height: 4px;
  position: absolute;
}
.explore-vector2 {
  top: 2.0625px;
  left: -1.8874804652568855e-7px;
  width: 23px;
  height: 22px;
  position: absolute;
}
.explore-navlink {
  display: contents;
}
.explore-frame {
  top: 0px;
  right: 0px;
  width: 30px;
  height: 33px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-color: transparent;
}
.explore-group6 {
  top: 20px;
  left: 1375px;
  width: 53.31805419921875px;
  height: 37px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-group4 {
  top: 0px;
  left: 0px;
  width: 37.83863067626953px;
  height: 37px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-group3 {
  top: 4.352941036224365px;
  left: 0px;
  width: 34.39875411987305px;
  height: 32.64706039428711px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-frame1 {
  top: 0px;
  left: 0px;
  width: 34.39875411987305px;
  height: 32.64706039428711px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 1000px;
  background-color: rgba(255, 255, 255, 1);
}
.explore-group2 {
  top: -8px;
  left: -5px;
  width: 40px;
  height: 52px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-navlink1 {
  display: contents;
}
.explore-pf {
  top: 0px;
  flex: 1;
  right: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.explore-ellipse3 {
  top: -4.547473508864641e-13px;
  left: 24.07927894592285px;
  width: 14px;
  height: 13px;
  position: absolute;
  border-color: transparent;
}
.explore-group72 {
  top: 33px;
  left: 542px;
  width: 284.84014892578125px;
  height: 29px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-container1 {
  top: 0px;
  left: 0px;
  width: 285.1096496582031px;
  height: 22.84768295288086px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.explore-text16 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.explore-text18 {
  top: 0.993377685546875px;
  color: rgba(158, 0, 255, 1);
  right: 0px;
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.explore-group2247 {
  top: 26px;
  left: 38px;
  width: 213px;
  height: 53px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-text20 {
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 213px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.explore-vector22 {
  top: 1024px;
  left: 1047px;
  width: 948px;
  height: 0px;
  position: absolute;
}
.explore-group70 {
  top: 358px;
  left: 1072.9998779296875px;
  width: 340px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-group54 {
  top: 0px;
  left: 0px;
  width: 340px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-text22 {
  color: rgba(194, 207, 217, 1);
  width: 212px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.explore-text24 {
  top: 28.999755859375px;
  left: 2.0297317504882812px;
  color: rgba(194, 207, 217, 1);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.explore-group7 {
  top: 15px;
  left: 234.44775390625px;
  width: 105.55223846435547px;
  height: 45px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(1, 26, 39, 0);
}
.explore-text26 {
  top: 5px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 87px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.explore-group84 {
  top: 167px;
  left: 1075px;
  width: 150px;
  height: 150px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-pf1 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 150px;
  position: absolute;
  border-color: transparent;
  border-radius: 500px;
}
.explore-group67 {
  top: 108.375px;
  left: 132.7501983642578px;
  width: 15.000000953674316px;
  height: 15.000001907348633px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-ellipse4 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
  border-color: rgba(165, 166, 168, 1);
  border-style: solid;
  border-width: 1px;
}
.explore-image21780221 {
  top: 4.125px;
  left: 3.9167327880859375px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-color: transparent;
}
.explore-group65 {
  top: 76px;
  left: 23px;
  width: 1215px;
  height: 948px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-mdiaboutcircleoutline {
  top: 132px;
  left: 14px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.explore-materialsymbolssearch {
  top: 53px;
  left: 15px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.explore-navlink2 {
  display: contents;
}
.explore-overview {
  top: 53px;
  left: 0px;
  width: 136px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  text-decoration: none;
}
.explore-text28 {
  left: 41.67741775512695px;
  color: rgba(255, 255, 255, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.explore-packages {
  top: 132px;
  left: 0px;
  width: 120px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.explore-text30 {
  left: 35px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.explore-navlink3 {
  display: contents;
}
.explore-stars {
  top: 90px;
  left: 0px;
  width: 113px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  text-decoration: none;
}
.explore-text32 {
  left: 48.79545593261719px;
  color: rgba(255, 255, 255, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.explore-vector5 {
  top: 948px;
  left: 197.5px;
  width: 948px;
  height: 0px;
  position: absolute;
}
.explore-rectangle1056 {
  top: 277px;
  left: 428px;
  width: 441px;
  height: 214px;
  position: absolute;
  border-color: transparent;
  border-radius: 27px;
}
.explore-rectangle1059 {
  top: 699px;
  left: 428px;
  width: 441px;
  height: 219px;
  position: absolute;
  border-color: transparent;
  border-radius: 27px;
}
.explore-text34 {
  top: 367px;
  left: 577px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.explore-text39 {
  top: 802px;
  left: 533px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.explore-group2250 {
  top: 166px;
  left: 37px;
  width: 25px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-vector3 {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 24px;
  position: absolute;
}
.explore-rectangle25 {
  top: 959px;
  left: 35px;
  width: 156px;
  height: 49px;
  position: absolute;
}
.explore-vector4 {
  top: 973.152587890625px;
  left: 146.134765625px;
  width: 18px;
  height: 20px;
  position: absolute;
}
.explore-text44 {
  top: 968.09814453125px;
  left: 61.5087890625px;
  color: rgba(255, 255, 255, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.explore-heart {
  top: 504px;
  left: 308px;
  width: 31px;
  height: 31px;
  position: absolute;
}
.explore-icon {
  top: 507px;
  left: 362px;
  width: 28px;
  height: 26px;
  position: absolute;
}
.explore-group2264 {
  top: 504px;
  left: 308px;
  width: 82.17112731933594px;
  height: 31.30124855041504px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-heart1 {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 31px;
  position: absolute;
}
.explore-icon1 {
  top: 3px;
  left: 54px;
  width: 28px;
  height: 26px;
  position: absolute;
}
.explore-group2265 {
  top: 926px;
  left: 309px;
  width: 82.17112731933594px;
  height: 31.30124855041504px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.explore-heart2 {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 31px;
  position: absolute;
}
.explore-icon2 {
  top: 3px;
  left: 54px;
  width: 28px;
  height: 26px;
  position: absolute;
}
.explore-vector5 {
  top: 200.5px;
  left: 1246px;
  width: 12px;
  height: 9px;
  position: absolute;
}
.explore-text46 {
  top: 197px;
  left: 1264.45849609375px;
  color: rgba(255, 255, 255, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.explore-vector6 {
  top: 219.97509765625px;
  left: 1249.458984375px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.explore-vector7 {
  top: 218px;
  left: 1247.45849609375px;
  width: 8px;
  height: 11px;
  position: absolute;
}
.explore-text48 {
  top: 217px;
  left: 1260.23291015625px;
  color: rgb(255, 255, 255);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.explore-ellipse13 {
  top: 175px;
  left: 308px;
  width: 80px;
  height: 80px;
  position: absolute;
  border-color: transparent;
}
.explore-ellipse14 {
  top: 593px;
  left: 308px;
  width: 80px;
  height: 80px;
  position: absolute;
  border-color: transparent;
}
@media(max-width: 1200px) {
  .explore-group65 {
    width: 944px;
  }
}
