.setting-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.setting-setting {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: #16141c;
}
.setting-group30 {
  top: 381px;
  left: 134px;
  width: 86px;
  height: 33px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-folder {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.setting-edit {
  top: 3px;
  left: 56px;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.setting-rectangle1055 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 76px;
  position: absolute;
  border-color: transparent;
}
.setting-frame4781824alarmalertattentionbellclockicon1 {
  top: 24px;
  left: 1311px;
  width: 30px;
  height: 33px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.setting-layer2 {
  top: 3.09375px;
  left: 3.749997854232788px;
  width: 22.500112533569336px;
  height: 26.8125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-vector {
  top: 21.65625px;
  left: 7.500001907348633px;
  width: 7px;
  height: 5px;
  position: absolute;
}
.setting-vector1 {
  top: 0px;
  left: 8.437501907348633px;
  width: 6px;
  height: 4px;
  position: absolute;
}
.setting-vector2 {
  top: 2.0625px;
  left: -1.8874804652568855e-7px;
  width: 23px;
  height: 22px;
  position: absolute;
}
.setting-navlink {
  display: contents;
}
.setting-frame {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 33px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-color: transparent;
}
.setting-group6 {
  top: 20px;
  left: 1375px;
  width: 53.31805419921875px;
  height: 37px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-group4 {
  top: 0px;
  left: 0px;
  width: 37.83863067626953px;
  height: 37px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-group3 {
  top: 4.352941036224365px;
  left: 0px;
  width: 34.39875411987305px;
  height: 32.64706039428711px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-frame1 {
  top: 0px;
  left: 0px;
  width: 34.39875411987305px;
  height: 32.64706039428711px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 1000px;
  background-color: rgba(255, 255, 255, 1);
}
.setting-group2 {
  top: -8px;
  left: -5px;
  width: 40px;
  height: 52px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-navlink1 {
  display: contents;
}
.setting-pf {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 52px;
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.setting-ellipse3 {
  top: -4.547473508864641e-13px;
  left: 24.07927894592285px;
  width: 14px;
  height: 13px;
  position: absolute;
  border-color: transparent;
}
.setting-group72 {
  top: 22px;
  left: 490px;
  width: 284.84014892578125px;
  height: 29px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-container1 {
  top: 0px;
  left: 0px;
  width: 285.1097106933594px;
  height: 22.84768295288086px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.setting-text {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.setting-text02 {
  top: 0.993377685546875px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.setting-group2247 {
  top: 26px;
  left: 38px;
  width: 213px;
  height: 53px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-text04 {
  color: rgba(255, 255, 255, 1);
  width: 213px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.setting-vector22 {
  top: 1024px;
  left: 1047px;
  width: 948px;
  height: 0px;
  position: absolute;
}
.setting-group70 {
  top: 358px;
  left: 1072.9998779296875px;
  width: 340px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-group54 {
  top: 0px;
  left: 0px;
  width: 340px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-text06 {
  color: rgba(194, 207, 217, 1);
  width: 212px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.setting-text08 {
  top: 28.999755859375px;
  left: 2.0297324657440186px;
  color: rgba(194, 207, 217, 1);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.setting-group7 {
  top: 15px;
  left: 234.44776916503906px;
  width: 105.55223846435547px;
  height: 45px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(1, 26, 39, 0);
}
.setting-text10 {
  top: 14px;
  left: 11.55224609375px;
  color: rgba(255, 255, 255, 1);
  width: 87px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.setting-group84 {
  top: 167px;
  left: 1075px;
  width: 150px;
  height: 150px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-uiu-kevin-putrayudha-naserwan2 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 150px;
  position: absolute;
  border-color: transparent;
  border-radius: 500px;
}
.setting-group67 {
  top: 108.375px;
  left: 132.7501983642578px;
  width: 15.000000953674316px;
  height: 15.000001907348633px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-ellipse4 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
  border-color: rgba(165, 166, 168, 1);
  border-style: solid;
  border-width: 1px;
}
.setting-image21780221 {
  top: 4.125px;
  left: 3.9167327880859375px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-color: transparent;
}
.setting-group65 {
  top: 76px;
  left: 23px;
  width: 1215px;
  height: 948px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-mdiaboutcircleoutline {
  top: 132px;
  left: 14px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.setting-materialsymbolssearch {
  top: 53px;
  left: 15px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.setting-epsetting {
  top: 498px;
  left: 1154px;
  width: 61px;
  height: 59px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.setting-navlink2 {
  display: contents;
}
.setting-overview {
  top: 53px;
  left: 9px;
  width: 136px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  text-decoration: none;
}
.setting-text12 {
  left: 41.67741775512695px;
  color: rgba(255, 255, 255, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-packages {
  top: 132px;
  left: 14px;
  width: 120px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.setting-text14 {
  left: 35px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-navlink3 {
  display: contents;
}
.setting-stars {
  top: 90px;
  left: 0px;
  width: 113px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  text-decoration: none;
}
.setting-text16 {
  left: 48.79545593261719px;
  color: rgba(158, 0, 255, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-vector5 {
  top: 948px;
  left: 197.5px;
  width: 948px;
  height: 0px;
  position: absolute;
}
.setting-group2250 {
  top: 166px;
  left: 37px;
  width: 25px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-vector3 {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 24px;
  position: absolute;
}
.setting-group2251 {
  top: 118px;
  left: 490px;
  width: 239px;
  height: 49px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-group2257 {
  top: 0px;
  left: 0px;
  width: 239px;
  height: 49px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-text18 {
  left: -123px;
  color: rgba(255, 255, 255, 1);
  width: 174px;
  bottom: -2px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.setting-vector4 {
  top: 1px;
  left: -187px;
  width: 52px;
  height: 48px;
  position: absolute;
}
.setting-rectangle25 {
  top: 959px;
  left: 35px;
  width: 156px;
  height: 49px;
  position: absolute;
}
.setting-vector5 {
  top: 973.152587890625px;
  left: 146.134765625px;
  width: 18px;
  height: 20px;
  position: absolute;
}
.setting-text20 {
  top: 968.09814453125px;
  left: 61.5087890625px;
  color: rgba(255, 255, 255, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-container2 {
  top: 287.986328125px;
  left: 250.99337768554688px;
  width: 702.990478515625px;
  height: 57.998756408691406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.setting-rectangle1060 {
  top: 0px;
  left: 0px;
  width: 703px;
  height: 58px;
  position: absolute;
  border-color: rgba(158, 0, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.setting-text22 {
  top: 9.861358642578125px;
  left: 15.997528076171875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.setting-container3 {
  top: 364.9937744140625px;
  left: 250.99337768554688px;
  width: 702.990478515625px;
  height: 57.998756408691406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.setting-rectangle1061 {
  top: 0px;
  left: 0px;
  width: 703px;
  height: 58px;
  position: absolute;
  border-color: rgba(158, 0, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.setting-text24 {
  top: 11.85845947265625px;
  left: 19.991729736328125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.setting-vector6 {
  top: 213.5px;
  left: 1256px;
  width: 12px;
  height: 9px;
  position: absolute;
}
.setting-text26 {
  top: 210px;
  left: 1274.45849609375px;
  color: rgba(255, 255, 255, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-vector7 {
  top: 232.97509765625px;
  left: 1259.458984375px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.setting-vector8 {
  top: 231px;
  left: 1257.45849609375px;
  width: 8px;
  height: 11px;
  position: absolute;
}
.setting-text28 {
  top: 230px;
  left: 1270.23291015625px;
  color: rgba(255, 255, 255, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
